# IDE
.idea
.vscode

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible
*.retry

# Test
.cache
*__*

# Python
*.pyc
*.pyo

# Vagrant
.vagrant/
*.log

# Python
.python_env/